[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "IeQqOSVMdMXojjqbgpqwaqsXk"},
	    {api_secret, "qjYaBQMg9h9odGanzx47iIDpoWlXKBctBiOdz17uah4TR7XKzM"},
	    {access_token, "298147224-T25SRqumYam53pkOtYJxMEsvrZj57MBRnjilldTd"},
	    {access_token_secret, "9okwQc6xe9EQaYqGetsMUXTXrYVLKt8FQTdl3DHVKup5t"}]
    }]}]}].
